/this page displays the header information on the page that displays a new ingredient that the user is adding to their pantry
%h1 New Ingredient

= render 'form'

%br/

=link_to "Back", root_path, class: "btn btn-default"