<h1>Find Recipes</h1>

<%#-this page is the ratings results page -%>
<div class="row">
    <div class="col-sm-4 form-group">
        <%#-this is the form to describe what your are searching for -%>
        <textarea class="form-control" id="searchRecipesId"></textarea>
    </div>
    <div class="col-sm-4">
        <%#-this button generates recipes from the form text -%>
        <button type="button" class="btn btn-default" id="allRecipesButt">Generate Recipes!</button>
    </div>
	<div class="col-lg-12" id="resultsRecipesId"></div>
</div>