<h1>Find Steps</h1>
<%#-this is the recipe steps page-%>
<div class="row">
    <div class="col-sm-4 form-group">
        <%#-the recipe Id needs to be pasted in here to get the recipe -%>
        <textarea class="form-control" id="getStepsId"></textarea>
    </div>
    <div class="col-sm-4">
        <%#-this button leads to the steps of the selected recipe -%>
        <button type="button" class="btn btn-default" id="getStepsButt">Find Recipe Steps!</button>
    </div>
	<div class="col-lg-12" id="resultsStepsId"></div>
</div>